/*
Colors for notes
https://www.schemecolor.com/girly-rainbow.php
*/
html{
    min-height: 100%;
  }
  
  body{
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
  #panel{
    background: linear-gradient(black, grey);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    height: fit-page;
  }
  
  @media screen and (max-width: 650px){
    #panel{
      width: 100%;
      height: 200px;
    }
  }
  
  h1{
    font-size: 6rem;
    line-height: 80%;
    font-weight: lighter;
    margin: 20vh 0 15px 15px;
    text-align: left;
    color: white;
    background: none;
    text-shadow: 3px 5px 5px black;
  }
  
  @media screen and (max-width: 650px){
    h1{
      text-align: center;
      margin: 30px 0 0 0;
      font-size: 5rem;
    }
  }
  
  h2{
    font-size: 1rem;
    font-weight: lighter;
    text-align: left;
    margin: 0 0 2vh 15px;
    color: white;
    text-shadow: 3px 3px 5px black;
  }
  
  @media screen and (max-width: 650px){
    h2{
      text-align: center;
      margin: 3vh 0 2vh 2vw;
    }
  }
  
  #controls{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 15px 0 15px;
  }
  
  @media screen and (max-width: 650px){
    #controls{
      justify-content: center;
    }
  }
  
  .controls{
    font-family: 'Poppins', sans-serif;
    color: black;
    border-style: none;
    box-shadow: 0px 3px 10px 1px black;
    height: 25px;
  }
  
  #select-color{
    grid-column: 1/2;
    width: 70px;
  }
  
  #submit{
    grid-column: 2/3;
    background-color: white;
    width: 100px;
  }
  
  #clear{
    grid-column: 3/4;
    width: 70px;
  }
  
  .note{
    padding: 15px;
    width: 250px;
    height: 250px;
    box-shadow: 0px 3px 10px 1px grey;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    border: none;
    outline: none;
    resize: none;
  }
  
  .delete-p{
    height: 1.75rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin: 0px 0px 0px -25px;
    padding: 4px 0 0 0;
    resize: auto;
  }
  
  .delete-p:hover{
    filter: invert(22%) sepia(99%) saturate(6978%) hue-rotate(3deg) brightness(108%) contrast(123%);
  }
  
  @media screen and (max-width: 1050px){
    .delete-p{
        margin: -5px 0px 0px -5px;
    }
  }
  
  @media screen and (max-width: 995px){
    .delete-p{
        margin: -5px 0px 0px 0px;
    }
  }
  
  #note-display{
    margin: 2rem 0 2rem 35%;
    display: flex;
    column-gap: 5%;
    row-gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 1050px){
    #note-display{
      margin: 2rem 0 2rem 35%;
      column-gap: 1.5%;
    }
  }
  
  
  @media screen and (max-width: 995px){
    #note-display{
      margin: 2rem 0 2rem 50%;
    }
  }
  
  @media screen and (max-width: 650px){
    #note-display{
      margin: 225px 10% 2rem 10%;
      justify-content: center;
    }
  }
  
  .white{
    background-image: linear-gradient(white, #eeeeee);
  }
  
  .pink{
    background-image: linear-gradient(#FDE1FB, #FCCDF9);
  }
  
  .yellow{
    background-image: linear-gradient(#FFFDDB, #FFFCC3);
  }
  
  .green{
    background-image: linear-gradient(#DFFFD8, #CAFFBE);
  }
  
  .blue{
    background-image: linear-gradient(#DBF2FF, #C3E9FF);
  }
  
  .purple{
    background-image: linear-gradient(#E6D5FD, #D5B9FC);
  }